.sidebar {
    height: 100%;
    width: 200px;
    color: #333;
    padding: 20px;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    background-color: #fff;
    overflow-y: auto; 
    overflow-x: hidden; 
    flex-shrink: 0; 
}

.sidebar h2 {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555;
}

.option {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s;
    color: #555;
    width: 150px; /* Set fixed width */
}

.option.active, .option:hover {
    background-color: #e0e0e0;
    color: #333;
}

.delete-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    padding: 3px;
}

.optionName {
    flex-grow: 1;
    flex-shrink: 1; 
    display: inline-flex;
    align-items: center;
    color: #333;
    font-size: 18px; 
    min-width: 0; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
}


.delete-btn:hover {
    color: #e74c3c;
    background-color: #e60b0b; 
    border-radius: 25%; 
}
.img{
    width: 15px; 
    height: 15px;
}